    </div>

    <div class="footer">
        <div class="container">
            <% if(canexport) { %>
            <p class="text-muted"><a href="<%= exportpath %>" class="btn btn-default btn-info pull-right">Export as csv</a> .</p>
            <% } %>
        </div>
    </div>
    <% include includes/javascripts %>
</body>
</html>