<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= app_name %> - <%= title %></title>
    <% include includes/metatag %>
    <% include includes/stylesheets %>

</head>
<body>
    <% include includes/navigation %>

    <div class="container">
        <div class="page-header">
            <h1>
                <%- title %>
            </h1>
        </div>
